doctype
html
  head
    title Test
    link(type='text/css', rel="stylesheet", href="css/main.css")
  body
    h1 Test
    p This is a test paragraph.
    script(type="text/javascript", src="js/app.js")